<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="samples-local-packages" value=".packages" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="samples-local-packages">
			<package pattern="PreEmptive.Dotfuscator.Samples.*" />
		</packageSource>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>